header{
    background: #9D511D; 
    .navegacion-personal{
        justify-content: center;
    }
    .logo-efe {
        margin-left: 20px;
        img{
        width: 100px;
        
        }
    }
    .menu-desplegable{
        display: flex;
        justify-content: center;
    }    
    .menu-personal{
        justify-content: center;
        .i-menu{
            margin: 20px;
            padding: 5px;
            background: white;
            border: solid black 1px;
            .a-menu{
                font-family: sans-serif;
                color: brown;
                font-weight: 800;
                font-size: 20px;
            }
            .desplegable{
                background: #03072E;
                li{
                    border-top: 2px solid grey ;
                }
                .sub-menu{
                    font-family: sans-serif;
                    color: white;
                    font-weight: 800;
                    font-size: 20px;
                    text-decoration: none;
                    padding-left: 3px;
                }
            }
            
        }
    }
    .lugar{
        font-size: 30px;
        border-left: 2px solid black;
        background-color:#FEFEFE ;
        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 160px;
        h1{
            position: relative;
            right: 100%;
        }
    }
    @media screen and(max-width:1110px){
        .lugar, .logo-efe{
            display: none;
        }
    }
}